<ion-header>
  <ion-toolbar>
    <ion-title>
      Spesifikasi BUS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/bus.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Go Bus<br><br> 
          Rp. 200.000/hari<br><br>
          -AC<br>
          -Wi Fi <br>
          -Kamar mandi <br>
          -Music<br>
          -Karaoke</ion-card-title>
     
      </ion-card-header>
    </ion-card>
</ion-content>



