<ion-header>
  <ion-toolbar>
    <ion-title>
      Spesifikasi Kamar hotel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/biasa.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Kamar REGULER<br><br> 
          Rp. 500.000/malam<br><br>
          -1 AC<br>
          -Gym <br>
          -kamar mandi <br>
          -Souvenir<br>
          -Sarapan pagi</ion-card-title>
      </ion-card-header>
    </ion-card>



    <ion-card class="welcome-card">
      <ion-img src="/assets/kamar.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Kamar VIP<br><br> 
          Rp. 700.000/malam<br><br> 
          -2 Kamar Tidur<br>
          -1 Kamar Mandi<br>
          - AC<br>
          -1 TV<br>
          - free wifi<br>
          - Gym<br>
          -Souvenir<br>
          -Sarapan pagi</ion-card-title>
      </ion-card-header>
    </ion-card>



    <ion-card class="welcome-card">
      <ion-img src="/assets/ekonomi.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Kamar VVIP<br><br> 
          Rp. 1.000.000/malam<br><br> 
          -2 Kamar Tidur<br>
          -1 Kamar Mandi<br>
          -1 AC<br>
          -1 TV<br>
          -Sarapan pagi<br>
          -free Wifi<br>
          -Gratis SPA<br>
          -Souvenir<br>
          -Gym</ion-card-title>
      </ion-card-header>
    </ion-card>
</ion-content>



