<ion-header>
  <ion-toolbar>
    <ion-title>
      <h2>Registrasi </h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/drama.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title><h2>List Drama Korea subtitle Indonesia</h2>
          <h4>Drama Korea Terbaru 2019</h4>
          <h6>* Drama Korea Angel Last Mission : love Subtitle Indonesia<br>
          * Drama Korea Arthdal Chornicles subtitle Indonesia<br>
          * Drama Korea Search:WWW Subtitle Indonesia<br>
          * Drama Korea Her Private Live subtitle Indonesia<br>
          * Drama Korea Abyys subtitle Indonesia</h6></ion-card-title>
     
      </ion-card-header>
    </ion-card>
</ion-content>



