<ion-header>
<ion-card class="text-card">
  <ion-toolbar>
    <ion-title>
      HOTEL PRODEO BAREBARACK
    </ion-title>
  </ion-toolbar>
</ion-card>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/hotel.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>  WELCOME TO PRODEO HOTEL</ion-card-title>
      </ion-card-header>
    </ion-card>

  <ion-card class="welcome-card">
    <ion-card-content>
          Hotel Prodeo<br><br> 
          Hotel prodeo berdiri pada tahun 2000, di kota Wonosobo alamat hotel : jalan Sarinah Thamrin
          no 32. <br><br>     
          Hotel bertema eropa dengan bintang 5, suasana yang indah asri dan lingkungan yang bersih menjadikan 
          hotel ini yang wajib untuk tempat penginapan anda setelah lelah menikmati keindahan kota Wonosobo. <br><br>
          Fasilitas hotel:<br><br>    
          Kamar <br> 
          <ion-img src="/assets/kamar.jpg"></ion-img>
          Kamar hotel yang nyaman dengan fasilitas Ac,Tv,kulkas kecil, kamar mandi yang akan
          membuat anda nyaman untuk beristirahat <br><br>
          Kolam renang<br>
          <ion-img src="/assets/renang.jpg"></ion-img>
          kolam renang yang cukup luas untuk tempat berenang anda<br><br> 
          Meeting room <br>
          <ion-img src="/assets/meeting.jpg"></ion-img>
          Meeting room yang sangat nyaman dengan Ac. <br><br>
          GYM <br>
          <ion-img src="/assets/gym.jpg"></ion-img>
          Tempat gym untuk olahraga yang nyaman dan sehat. <br><br>
          Ruang Makan<br>
          <ion-img src="/assets/makan.jpg"></ion-img>
          Ruang makan yang sangat nyaman dengan makanan yang bersih,sehat dan enak.<br>
           
          
      
    </ion-card-content>
  </ion-card>
</ion-content>
