<ion-header>
    <ion-toolbar>
      <ion-title>
       Kritik dan Saran
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-card class="welcome-card">
        
          

            <ion-img src="/assets/kotak-saran.gif"></ion-img><br><br><br>
            <ion-item>
              <ion-label><b>kritik dan saran  :</b></ion-label>
              <ion-textarea clearOnEdit="true"></ion-textarea>
              <button class="button button-small button-positive">
                  Kirim
                </button>
            </ion-item>
        
       
      </ion-card>
  </ion-content>
