<ion-header>
    <ion-toolbar>
      <ion-title>
        Contact Person
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-card class="welcome-card">
        <ion-card-header><ion-img src="/assets/SOSMED.png"></ion-img>
          <ion-card-title>Whatsapp : 08245466699<br><br>
            Instagram : @Prodeohotel_official<br><br>
            Facebook : prodeohotel_official<br><br>
            Email : prodeohotel112.gmail.com <br><br><br><br>

            <ion-img src="/assets/kotak-saran.gif"></ion-img><br><br><br>
            <ion-item>
              <ion-label><b>kritik dan saran  :</b></ion-label>
              <ion-textarea clearOnEdit="true"></ion-textarea>
              <button class="button button-small button-positive">
                  Kirim
                </button>
            </ion-item>
        </ion-card-title>
        </ion-card-header>
      </ion-card>
  </ion-content>
